/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$color--primary: #A6DDF5; // Sort & Survive blue
$color--secondary: #4E3319; // Sort & Survive brown
$color--tertiary: #167257; // Sort & Survive green
$color--white: #fff; // white
$color--black: #000; // black

$color--highlight-light: $color--secondary;
$color--highlight-dark: $color--secondary;

$box--shadow-light: 0 0 10px rgba(0,0,0,0.3); 
$box--shadow-dark: 0 0 10px rgba(0,0,0,0.7); 

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$media-mobile: 576px;
$media-tablet: 768px;
$media-desktop: 992px;
$media-wide: 1200px; 

// Fonts
$font-sans: 'Montserrat', sans-serif;

$letter-spacing: 0.1em;


/* Variable Font Sizes
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Body font size. By default 16px, based on 16px as 'root em' */
$brand--font-size: 1rem;

/* Major second scale progression - see https://type-scale.com/ */
$brand--header-scale: 1.125;

/* Line height is set to the "Golden ratio" for optimal legibility */
$brand--line-height: 1.618;


/* Initial sizing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*  NOTE. html is set to 62.5% so that all the REM measurements throughout Skeleton are based on 10px sizing. So basically 1.5rem = 15px */
/*  NOTE. If normal, 100% equals 16px sizing. */
html {
    font-size: 100%; 
}

body {
	background: $color--primary;
    color: $color--secondary;
	font-family: $font-sans;
	font-weight: 500;
	font-size: 1em; /* currently ems because Chrome bug misinterpreting rems on body element */
}

$base-value: 1rem; // To test: rems/ems/px

$margin--small: $base-value;
$margin--general: $base-value*2;
$padding--small: $base-value;
$padding--general: $base-value*2;