footer {
	background-color: scale-color($color--primary, $lightness: -10%);
	padding: $padding--general 0;
	color: $color--secondary;
	p {
		font-size: 1.2rem;
		font-weight: 700;
		color: $color--secondary;
		&.ss-copyright {
			font-size: 0.8rem;
			font-weight: 500;
		}
	}
	a {
		color: $color--tertiary;
		&:hover {
			color: $color--tertiary;
		}
	}
}

@media (min-width: $media-mobile) {
	footer {
		padding: $padding--general*2 0;
	}
}

@media (min-width: $media-tablet) {
	footer {
		padding: $padding--general*3 0;
	}
}